
.schedule-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  list-style: none;
  margin: 0;
  color: #2C2B66;
}

li {
  border: 1px solid #DB1B5B;
  padding: 4vh 1vh;
  font-family: 'Gilroy';
}

ul {
  padding: 0;
}

